In [9]:
import pandas as pd
import numpy as np

In [19]:
# https://www.geeksforgeeks.org/pandas/how-to-read-excel-multiple-sheets-in-python-pandas/
file_names = ['1994_wine.xlxs',
              '1995_wine.xlxs',
              '1996_wine.xlxs',
              '1997_wine.xlxs',
              '1998_wine.xlsx',
              '1999_wine.xlxs',
              '2000_wine.xlxs',
              '2001_wine.xlxs',
              '2002_wine.xlxs',
              '2003_wine.xlxs',
              '2004_wine.xlxs',
              '2005_wine.xlxs',
              '2006_wine.xlxs',
              '2007_wine.xlxs',
              '2008_wine.xlxs',
              '2009_wine.xlxs',
              '2010_wine.xlxs',
              '2011_wine.xlxs',
              '2012_wine.xlxs',
              '2013_wine.xlxs',
              '2014_wine.xlxs',
              '2015_wine.xlxs',
              '2016_wine.xlxs',
              '2017_wine.xlxs',
              '2018_wine.xlxs',
              '2019_wine.xlxs',
              '2020_wine.xlxs',
              '2021_wine.xlxs',
              '2022_wine.xlxs',
              '2023_wine.xlxs',
              '2024_wine.xlxs',]

In [113]:
# https://www.geeksforgeeks.org/python/formatted-string-literals-f-strings-python/
# https://stackoverflow.com/questions/13784192/creating-an-empty-pandas-dataframe-and-then-filling-it

# notes: look into glob library for lists of excel files

sheet_0 = []
for year in range(1994, 2025):
    folder_path = 'C:/Users/lilli/Documents/NSS/Capstone/usda/'
    file_name = folder_path + f'{year}_wine.xlsx'
    
    df = pd.read_excel(file_name, sheet_name=0)
    df['Year'] = year
    
    sheet_0.append(year)

dfs = pd.DataFrame(sheet_0)

In [114]:
df_2024 = pd.read_excel('C:/Users/lilli/Documents/NSS/Capstone/usda/2024_wine.xlsx', sheet_name = 0)
df_2024['Year'] = 2024
df_2024 = df_2024.dropna().rename(columns={df_2024.columns[0]: 'Type'})

df_2023 = pd.read_excel('C:/Users/lilli/Documents/NSS/Capstone/usda/2023_wine.xlsx', sheet_name = 0)
df_2023['Year'] = 2023
df_2023 = df_2023.dropna().rename(columns={df_2023.columns[0]: 'Type'})

df_2022 = pd.read_excel('C:/Users/lilli/Documents/NSS/Capstone/usda/2022_wine.xlsx', sheet_name = 0)
df_2022['Year'] = 2022
df_2022 = df_2022.dropna().rename(columns={df_2022.columns[0]: 'Type'})

df_2021 = pd.read_excel('C:/Users/lilli/Documents/NSS/Capstone/usda/2021_wine.xlsx', sheet_name = 0)
df_2021['Year'] = 2021
df_2021 = df_2021.dropna().rename(columns={df_2021.columns[0]: 'Type'})

df_2020 = pd.read_excel('C:/Users/lilli/Documents/NSS/Capstone/usda/2020_wine.xlsx', sheet_name = 0)
df_2020['Year'] = 2020
df_2020 = df_2020.dropna().rename(columns={df_2020.columns[0]: 'Type'})

df_2019 = pd.read_excel('C:/Users/lilli/Documents/NSS/Capstone/usda/2019_wine.xlsx', sheet_name = 0)
df_2019['Year'] = 2019
df_2019 = df_2019.dropna().rename(columns={df_2019.columns[0]: 'Type'})

df_2018 = pd.read_excel('C:/Users/lilli/Documents/NSS/Capstone/usda/2018_wine.xlsx', sheet_name = 0)
df_2018['Year'] = 2018
df_2018 = df_2018.dropna().rename(columns={df_2018.columns[0]: 'Type'})

df_2017 = pd.read_excel('C:/Users/lilli/Documents/NSS/Capstone/usda/2017_wine.xlsx', sheet_name = 0)
df_2017['Year'] = 2017
df_2017 = df_2017.dropna().rename(columns={df_2017.columns[0]: 'Type'})

df_2016 = pd.read_excel('C:/Users/lilli/Documents/NSS/Capstone/usda/2016_wine.xlsx', sheet_name = 0)
df_2016['Year'] = 2016
df_2016 = df_2016.dropna().rename(columns={df_2016.columns[0]: 'Type'})

df_2015 = pd.read_excel('C:/Users/lilli/Documents/NSS/Capstone/usda/2015_wine.xlsx', sheet_name = 0)
df_2015['Year'] = 2015
df_2015 = df_2015.dropna().rename(columns={df_2015.columns[0]: 'Type'})

df_2014 = pd.read_excel('C:/Users/lilli/Documents/NSS/Capstone/usda/2014_wine.xlsx', sheet_name = 0)
df_2014['Year'] = 2014
df_2014 = df_2014.dropna().rename(columns={df_2014.columns[0]: 'Type'})

df_2013 = pd.read_excel('C:/Users/lilli/Documents/NSS/Capstone/usda/2013_wine.xlsx', sheet_name = 0)
df_2013['Year'] = 2013
df_2013 = df_2013.dropna().rename(columns={df_2013.columns[0]: 'Type'})

df_2012 = pd.read_excel('C:/Users/lilli/Documents/NSS/Capstone/usda/2012_wine.xlsx', sheet_name = 0)
df_2012['Year'] = 2012
df_2012 = df_2012.dropna().rename(columns={df_2012.columns[0]: 'Type'})

df_2011 = pd.read_excel('C:/Users/lilli/Documents/NSS/Capstone/usda/2011_wine.xlsx', sheet_name = 0)
df_2011['Year'] = 2011
df_2011 = df_2019.dropna().rename(columns={df_2011.columns[0]: 'Type'})

df_2010 = pd.read_excel('C:/Users/lilli/Documents/NSS/Capstone/usda/2010_wine.xlsx', sheet_name = 0)
df_2010['Year'] = 2010
df_2010 = df_2010.dropna().rename(columns={df_2010.columns[0]: 'Type'})

df_2009 = pd.read_excel('C:/Users/lilli/Documents/NSS/Capstone/usda/2009_wine.xlsx', sheet_name = 0)
df_2009['Year'] = 2009
df_2009 = df_2009.dropna().rename(columns={df_2009.columns[0]: 'Type'})

df_2008 = pd.read_excel('C:/Users/lilli/Documents/NSS/Capstone/usda/2008_wine.xlsx', sheet_name = 0)
df_2008['Year'] = 2008
df_2008 = df_2008.dropna().rename(columns={df_2008.columns[0]: 'Type'})

df_2007 = pd.read_excel('C:/Users/lilli/Documents/NSS/Capstone/usda/2007_wine.xlsx', sheet_name = 0)
df_2007['Year'] = 2007
df_2007 = df_2007.dropna().rename(columns={df_2007.columns[0]: 'Type'})

df_2006 = pd.read_excel('C:/Users/lilli/Documents/NSS/Capstone/usda/2006_wine.xlsx', sheet_name = 0)
df_2006['Year'] = 2006
df_2006 = df_2006.dropna().rename(columns={df_2006.columns[0]: 'Type'})

df_2005 = pd.read_excel('C:/Users/lilli/Documents/NSS/Capstone/usda/2005_wine.xlsx', sheet_name = 0)
df_2005['Year'] = 2005
df_2005 = df_2005.dropna().rename(columns={df_2005.columns[0]: 'Type'})

df_2004 = pd.read_excel('C:/Users/lilli/Documents/NSS/Capstone/usda/2004_wine.xlsx', sheet_name = 0)
df_2004['Year'] = 2004
df_2004 = df_2004.dropna().rename(columns={df_2004.columns[0]: 'Type'})

df_2003 = pd.read_excel('C:/Users/lilli/Documents/NSS/Capstone/usda/2003_wine.xlsx', sheet_name = 0)
df_2003['Year'] = 2003
df_2003 = df_2003.dropna().rename(columns={df_2003.columns[0]: 'Type'})

df_2002 = pd.read_excel('C:/Users/lilli/Documents/NSS/Capstone/usda/2002_wine.xlsx', sheet_name = 0)
df_2002['Year'] = 2002
df_2002 = df_2002.dropna().rename(columns={df_2002.columns[0]: 'Type'})

df_2001 = pd.read_excel('C:/Users/lilli/Documents/NSS/Capstone/usda/2001_wine.xlsx', sheet_name = 0)
df_2001['Year'] = 2001
df_2001 = df_2001.dropna().rename(columns={df_2001.columns[0]: 'Type'})

df_2000 = pd.read_excel('C:/Users/lilli/Documents/NSS/Capstone/usda/2000_wine.xlsx', sheet_name = 0)
df_2000['Year'] = 2000
df_2000 = df_2000.dropna().rename(columns={df_2000.columns[0]: 'Type'})

In [119]:
sheet_0 = pd.concat([df_2024, df_2023, df_2022, df_2021, df_2020, df_2019, df_2018, df_2017, df_2016, df_2015, df_2014, df_2013, df_2012, df_2011, df_2010, df_2009, df_2008, df_2007, df_2006, df_2005, df_2004, df_2003, df_2002, df_2001, df_2000], axis=0, ignore_index=True)
sheet_0

,Type,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Year
0,Table,65874,3965.0,2809.0,3016.0,2242.0,2261.0,1477.0,723.0,500.0,80261,2606,82867,86824,2024
1,Wine,400532,8520.0,9051.0,8066.0,6055.0,5936.0,5616.0,3947.0,1962.0,438159,11525,449684,457322,2024
2,White,145711,2489.0,2840.0,3224.0,1777.0,2338.0,2453.0,1800.0,654.0,158378,4907,163286,166683,2024
3,Red,254821,6031.0,6211.0,4842.0,4278.0,3598.0,3163.0,2147.0,1308.0,279781,6618,286399,290639,2024
4,Rootstock,658,2.0,6.0,27.0,11.0,32.0,16.0,8.0,25.0,0,0,785,968,2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,White,131618,5825.0,6358.0,8434.0,13883.0,16106.0,10624.0,4998.0,4614.0,182223,20236,202459,205103,2000
194,Red,122804,11918.0,16944.0,16586.0,22002.0,30810.0,23325.0,18961.0,14871.0,221064,57156,278220,265055,2000
195,Grapes Excluding Root,571252,24652.0,32129.0,32706.0,44317.0,54284.0,40630.0,27754.0,23433.0,759723,91432,851155,843675,2000
196,Rootstock,87,69.0,18.0,29.0,17.0,83.0,350.0,407.0,388.0,0,0,1450,1554,2000
197,All Grapes,571339,24721.0,32147.0,32735.0,44334.0,54367.0,40979.0,28162.0,23821.0,759723,91432,852605,845229,2000